streamlit
python-dotenv
numpy<2.0
pandas
librosa
matplotlib
sounddevice
soundfile
tensorflow-cpu==2.15.1
plotly
Pillow
pydub
streamlit-option-menu
opencv-python-headless
twilio
torch
torchvision
ultralytics
tqdm
seaborn
